{% extends '_templates/base.njk' %}

{% block page_title %}Capt. McGillicutty's Ship's Log{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>A pirate's life is for me</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse iusto sequi nihil perspiciatis, ipsa nulla fugiat, nemo voluptatibus quam sunt voluptatem ex corrupti deleniti delectus porro magni aut ullam laudantium?
      </p>
      
    </div>
  </div>
</div>
{% endblock %}